.divLogin {
    max-width: 1000px;
    backdrop-filter: blur(200px) !important;
    z-index: 1;
    border-radius: 24px;
    border: 1px solid #ffffff3f;
    background-color: #26262657;
    padding: 18px;
}

.divInterna {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    padding: 5.5em 2.5em 4em 2.5em;
    display: flex;
    justify-content: center;
    flex-direction: row;
    overflow: visible;
    /* importante */
    gap: 50px;
    background-color: #f0f6fce8;
    border-radius: 17px;
}

.leftSide {
    display: block;
    width: 50%;
    /* ou 350px, por exemplo */
    height: auto;
    object-fit: contain;
}

div {
    width: 50%;
}

p {
    text-align: center;
    font-weight: 400;
    font-size: 18px;
}

.semConta {
    display: flex;
    text-align: left;
    align-self: flex-start;
    width: 100%;
}

.form {
    display: flex;
    align-items: start !important;
    flex-direction: column;
    gap: 10px;
    width: 40%;

    .inputs {
        gap: 5px;
        flex-direction: column;
        align-items: center;
        width: 100% !important;
    }
}

@media screen and (max-width: 400px) {
    .divLogin {
        width: 100vw;
        padding: 0;
        height: 100%;
        backdrop-filter: none;
    }

    .divInterna {
        width: 100vw;
        height: 100%;
        box-sizing: border-box;
        padding: 0!important;
        margin: 0;
        display: flex;
        justify-content: left;
        align-items: center;
        flex-direction: row;
        overflow: visible;
        /* importante */
        gap: 0;
        background-color: #f0f6fce8;
        border-radius: 0px !important;
    }

    .leftSide {
        display: none !important;
    }

    .form {
        width: 100% !important;
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form .inputs {
        width: 100% !important;
    }
}