.box{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    width: 100%;
}

.input{
    border: 1px solid #7a7a7a;
    max-width: 100%;
    height: 55px;
    font-size: 16px;
    background: transparent;
    padding-inline: 20px 50px;
    outline: none;
    border-radius: 10px;
}

.label{
    position: absolute;
    top: 17px;
    left: 20px;
    transition: .2s;
    color: #3635358f;
    pointer-events: none;
} 

.input:focus ~ .label,
.input:not(:placeholder-shown)~ .label {
    position: absolute;
    top: -10px;
    left: 20px;
    font-size: 14px;
    background-color: rgb(11, 134, 172);
    border-radius: 30px;
    color: white;
    padding: 0 10px;
}

.icon{
    position: absolute;
    top: 17px;
    right: 25px;
    pointer-events: none;
}