.divRegister{
    max-width: 1000px;
    backdrop-filter: blur(200px) !important;
    z-index: 1;
    border-radius: 24px;
    border: 1px solid #ffffff3f;
    background-color: #26262657;
    padding: 18px;
}

.divInterna{
    width: 100%;
    box-sizing: border-box;
    padding: 5.5em 2.5em 4em 2.5em;
    display: flex;
    justify-content: center;
    flex-direction: row;
    overflow: visible; /* importante */
    gap: 70px;
    background-color: #f0f6fce8;
    border-radius: 17px;  
}

.leftSide{
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

div{
    width: 50% ;
}

.form{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    gap: 5px;

    .inputs{
        gap: 5px;
        flex-direction: column;
        align-items: center;
        width: 100% !important;
    }
}

.linkPagina{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
}

@media screen and (max-width: 400px) {
    .divRegister{
        width: 100% !important;
        padding: 0;
        height: 100%;
    }

    .divInterna {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        padding: 0!important;
        margin: 0;
        display: flex;
        justify-content: left;
        align-items: center;
        flex-direction: row;
        overflow: visible;
        /* importante */
        gap: 0;
        background-color: #f0f6fce8;
        border-radius: 0px !important;
    }

    .leftSide {
        display: none !important;
    }

    .form {
        width: 100% !important;
        padding: 1.5rem;
    }
}